.contact {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.contact ul {
  list-style: none;
  padding: 1rem;
}

.contact li {
  border: 1px solid #F2CF8D;
  background-color: #1F2440;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
